@model App.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Crear contraseña";
}

<h2>@ViewBag.Title</h2>
<p class="text-info">
    Usted no tiene un nombre de usuario y contraseña para la aplicación. Por favor, agregue una cuenta y posteriormente usted podrá iniciar sesión.
</p>

@using (Html.BeginForm("Configurar contraseña", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Crear una cuenta local para iniciar sesión.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Configurar contraseña" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}